<div>
    <h1>chat</h1>
    <p id="message_logs"></p>
    <input id="chat_box">
</div>
<script src="sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/JS/chat.js"></script>
