
<style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #2a4057;
            color: #fff;
        }

        h1 {
            text-align: center;
            color: #fff;
        }

        .contenedor_prod {
            display: flex;
            flex-direction: column;
            background-color: #3e5f8a;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        .contenedor_info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }

        img {
            width: 200px;
            margin-right: 20px;
        }

        p {
            margin: 5px 0;
        }
</style>
{{> header}}
 <div>
    <h1>Carrito con id: {{carrito._id}}</h1>

    <div class="contenedor_prod">
        <h2>Productos del carrito:</h2>
        {{#each carrito.products}}
            <div>
                Producto: {{ this.product.title}} <!-- no puedo poner el id del producto!!!!!! -->
            </div>
            <div>
                Precio: {{ this.product.price}} <!-- no puedo poner el id del producto!!!!!! -->
            </div>
            <div>
                Cantidad: {{ this.quantity }}
            </div>
        {{/each}}
    </div>

</div>