<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background: linear-gradient(to bottom, #05193e, #00509e);
        color: #fff;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    p {
        color: #fff;
        font-weight: bold;
        font-size: 30px;
    }

    .main-content {
        flex: 1;
        padding: 20px;
        background-color: #2a4057;
    }

    .main-content h1 {
        color: #fff;
    }
</style>

<body>
    {{> header}}
    <div class="main-content"> 
        
        <h1>mi proyecto de coderhouse</h1>
    </div>
</body>

