<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #2a4057;
        color: white;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    div {
        background-color: #3e5f8a;
        border: 1px solid #2a4057;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
    }

    h2 {
        color: white;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        padding: 10px;
        margin: 5px 0;
        width: 100%;
        box-sizing: border-box;
    }

    button {
        display: inline-block;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-bottom: 7px;
    }

    button:hover {
        background-color: #45a049;
    }

    p {
        margin-top: 10px;
        color: white;
    }

    a {
        color: #4caf50;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
    .div-imagen-links {
            background-color: #30363d;
            border: 1px solid #2a4057;
            padding: 2px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 80px;
            text-align: center;
            position: relative;
            margin: auto;
    }
    img {
        max-width: 28%;
    }
</style>

<div>
    <h2>LOG IN</h2>
    <form action="/now/login" method="post">
        <input type="email" placeholder="Correo" id="email" name="email" autocomplete="off" required>
        <input type="password" placeholder="Contraseña" id="password" name="password" required>
        <button type="submit">Acceder</button>
    </form>
    <div class="div-imagen-links">
        <p>Login with github</p>
        <a href="github"> 
        <img src="https://github.com/fluidicon.png" alt="GitHub Logo">
        </a>
    </div>
    <p>¿Todavía no te registraste? <a href="register">Regístrate aquí</a></p>
</div>
